body{
    background: radial-gradient(circle,#1a82f7,#2F2727);
    height: 600px;
    box-sizing: border-box;
}
.row{
    text-align: center;
    width:50%;
    height: 50%;

    margin: auto;
    margin-top: 140px
}
form .input1{
    width: 50%;
        margin-top: 20px;
        width: 400px;
        height: 40px;
    font-size:26px;
    color:orange;
    text-align: center;
            
}
form .button{
    width:400px;
    margin-top:10px;
    height:60px;
    font-size:25px
    
}

form .button2{
    display: block;
    background-color: orange;
    height: 45px;
    width: 300px;
    margin-top: 10px;
    margin-left: 160px;
    font-size: 25px;
    color:white;
}
form .input2{
    position: relative;
    left: 155px;
    bottom: 44px;
    height: 44px;
    width: 90px;
    font-size: 35px;
    text-align: center;
    color:orange;
    
}
form .pl{
    position: relative;
    top:5px
}











